body{
    background-color: aliceblue;
    color: rgba(7, 7, 7, 0.795);
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    .box-1{
        background-color: burlywood;
        background-position: 15cm;
        color: #230d9e; 
        width :90%;
        margin:auto;
        border-style:3px dotted #230d9e;
         }
         .headline span {
             background-position: center;
             background-size:100% 90%;
         }
    .container{
        width:80%;
        margin:auto;
    }
    .box-2{
        font-style: normal;
        background-color: aquamarine;
        color:#230d9e;
        margin:auto;
        width: 90%;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .box-3 {
        background-color: #ffffff;
        color:#230d9e;
        margin:auto;
        width: 90%;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    

    






